/* CONTENEDOR GENERAL */
.project-card {
  margin-bottom: 6rem;
}

/* TITULO Y SUBTITULO */
.project-text-header h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.project-text-header p {
  opacity: 0.7;
  margin-top: 0.5rem;
}

/* SLIDER WRAPPER */
.project-slider-wrapper {
  position: relative;   /* Necesario para colocar flechas encima */
  width: 100%;
  margin-top: 2rem;
}

/* SLIDES */
.project-slides {
  width: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IMAGEN */
.project-image {
  width: 100%;
  max-width: 900px;
  border: 2px solid white;
  border-radius: 6px;
  object-fit: cover;
}

/* FLECHAS SUPERPUESTAS */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  border: 1px solid white;
  padding: 0.6rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}
/* 1. Ocultar flechas inicialmente */
.arrow {
  opacity: 0;
  pointer-events: none;
}

/* 2. Mostrar flechas solo cuando el usuario hace hover */
.project-slider-wrapper:hover .arrow {
  opacity: 1;
  pointer-events: auto;
}

.arrow:hover {
  background: rgba(0,0,0,0.7);
}

/* IZQUIERDA */
.arrow-left {
  left: 1rem;
}

/* DERECHA */
.arrow-right {
  right: 1rem;
}

/* TEXTO FINAL SLIDE */
.slide-text {
  max-width: 600px;
  text-align: left;
  color: rgb(1, 1, 1);
}
