.projects-section {
  background: white;
  color: black;
  padding: 6rem 4rem;
  width: 100%;
}

.projects-header {
  margin-bottom: 4rem;
}

.projects-header h2 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.projects-subtitle {
  font-size: 1rem;
  opacity: 0.7;
  margin-top: 0.5rem;
}
